<div class="m-5"><p-table [value]="tasks" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Tasks
      <p-button icon="pi pi-refresh"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>From</th>
      <th>Action</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.TaskEmployeeId }}</td>
      <td>{{ task.action }}</td>
      <td>{{ task.Status }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          [routerLink]="['hrmanagertask', task.id]"
        >
          show Task
        </button>
      </td>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{ tasks ? tasks.length : 0 }} Tasks.
    </div>
  </ng-template>
</p-table>
</div>