 
<mat-sidenav-container>
    
    <mat-sidenav class="mat-elevation-z8" opened="true" mode="side">
      <div class="img" *ngIf="employeeDetails.img != '' ">
        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
      </div> <br><br>
      <div *ngIf="employeeDetails.employeeName != ''">
        <h4 class="name">{{employeeDetails.employeeName}}</h4>
      </div>
      <div *ngIf="role == 'Admin'">
        <p class="designation">{{ 'admin' | translate}}</p>

        <button mat-flat-button color="basic" class="m-2  px-5  w-150" routerLink="./">
          <mat-icon>home</mat-icon>
          <span>{{ 'dashboard' | translate}}</span>
        </button>

        <button mat-flat-button color="basic" class=" m-2  px-5 w-150" routerLink="departments">
          <mat-icon>home</mat-icon>
          <span>{{'departments' | translate}}</span>
        </button>
        <button mat-flat-button color="basic" class="m-2  px-5 w-150" routerLink="employees">
          <mat-icon>assignment_ind</mat-icon>
          <span>{{'employees' | translate }}</span>
        </button>
      </div>
      <div *ngIf="role == 'Employee'">
        <button mat-flat-button color="basic" class="m-2  px-5 w-150" routerLink="page">
          <mat-icon>assignment_ind</mat-icon>
          <span>{{'My Info' | translate }}</span>
        </button>

        <br>
      <mat-divider class="m-2  px-5 " style=" border-top-color:aliceblue"></mat-divider>
      <br>
      </div>

      

      <!-- <div *ngIf="employeeDetails.id==0">
        <button mat-flat-button color="basic" class="m-2  px-5 w-150 " routerLink="register">
          <mat-icon>person</mat-icon>
          <span>{{'signup' | translate }}</span>
        </button>
        <button mat-flat-button color="basic" class="m-2  px-5 w-150 " routerLink="login">
          <mat-icon>login</mat-icon>
          <span>{{'signin' | translate }}</span>
        </button>
      </div> -->

       
        <button mat-flat-button color="basic" class="m-2  px-5 w-150 " (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{'logout' | translate }}</span>
        </button>
      
      <br>


      <button class="mt-7" mat-fab #selectedLang   color="basic">
        <mat-icon>g_translate</mat-icon>
      </button>




    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
   
</mat-sidenav-container>
