<div class="container my-5 mr-5">
  <h1 class="mb-3">Add New Employee Request</h1>

  <div class="container-fluid">
    <div class="ui-grid ui-grid-responsive">
      <form (ngSubmit)="createEmail()">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="col-lg-6 col-sm-12 mt-5 form-group">
              <span class="p-float-label">
                <input
                  readonly
                  pInputText
                  required
                  type="text"
                  [(ngModel)]="createEmployee.userName"
                  id=" userName"
                  name="userName"
                />
                <label for="userName"> userName</label>
              </span>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 mt-5 form-group" [formGroup]="regForm">
            <span class="p-float-label">
              <input
                pInputText
                required
                type="email"
                id="email"
                name="email"
                formControlName="Email"
              />

              <label for="Employee Email"> Email</label>
            </span>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-5 form-group">
          <span class="p-float-label">
            <input
              readonly
              pInputText
              required
              type="text"
              [(ngModel)]="createEmployee.salary"
              id=" salary"
              name="salary"
            />
            <label for="salary"> Salary</label>
          </span>
        </div>

        <div class="col-lg-6 col-sm-12 mt-5 form-group">
          <span class="p-float-label">
            <input
              readonly
              pInputText
              required
              type="text"
              [(ngModel)]="createEmployee.insuranceNumber"
              id="insuranceNumber"
              name="insuranceNumber"
            />
            <label for="insuranceNumber">Insurance Number</label>
          </span>
        </div>

        <div class="col-lg-6 col-sm-12 mt-5 form-group">
          <span class="p-float-label">
            <input
              readonly
              pInputText
              required
              type="date"
              [(ngModel)]="createEmployee.joiningDate"
              id="joiningDate"
              name="joiningDate"
            />
            <label for="joiningDate">Joining Date</label>
          </span>
        </div>
        <!-- <div class="col-lg-6 col-sm-12 mt-5 form-group">
          <span class="p-float-label">
            <input
              pInputText
              readonly
              required
              type="text"
              [(ngModel)]="createEmployee.departmeentID"
              id="DepartmentID"
              name="departmenetID"
            />
            <label for="DepartmentID">Department ID</label>
          </span>
        </div> -->
        <div class="col-lg-6 col-sm-12 mt-5 form-group">
          <span class="p-float-label">
            <input
              pInputText
              readonly
              required
              type="text"
              [(ngModel)]="createEmployee.subUnitID"
              id="Salary"
              name="subUnitID"
            />
            <label for="SubUnitID">Unit ID</label>
          </span>
        </div>

        <button class="btn"></button>
        <button type="submit" mat-raised-button color="primary">
          Create Email
        </button>

        <br />
        <br />
        <br />
      </form>
    </div>
  </div>
</div>
