<div class="container my-5  mr-5">
  <h1 class="mb-3">Add New Employee</h1>

  <div class="container-fluid">
    <div class="ui-grid ui-grid-responsive">
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="col-lg-6 col-sm-12 mt-5 form-group">
              <span class="p-float-label">

                <input pInputText required type="text" class="form-control" id="Employee Name" name="employeeName"
                  formControlName="EmployeeName"
                  [ngClass]="{ 'is-invalid': submitted && regForm.controls.EmployeeName.errors }">
                <label for="name">Employee Name</label>
              </span>
              <div *ngIf="submitted && regForm.controls.EmployeeName.errors" class="text-danger">
                <div *ngIf="regForm.controls.EmployeeName.errors['required']">Employee Name is required</div>
              </div>

            </div>

            <div class="col-lg-6 col-sm-12 mt-5 form-group">
              <span class="p-float-label">

                <input pInputText required type="email" class="form-control" id="Employee Email" name="employeeEmail"
                  formControlName="EmployeeEmail"
                  [ngClass]="{ 'is-invalid': submitted && regForm.controls.EmployeeEmail.errors }">

                <label for="Employee Email">Employee Email</label>
              </span>
              <div *ngIf="submitted && (regForm.controls.EmployeeEmail.errors )" class="text-danger">
                <div *ngIf="regForm.controls.EmployeeEmail.errors['required']">Employee Email is required</div>
                <div *ngIf="regForm.controls.EmployeeEmail.errors['email']">This is not an Email</div>
              </div>
              <div *ngIf="mm" class="text-danger">{{messageValidate.employeeEmail.matchEmployeeEmail}}</div>
            </div>

            <div class=" col-lg-6 col-sm-12 mt-5 form-group">
              <span class="p-float-label">

                <input pInputText required type="number" class="form-control" id="Salary" name="salary"
                  formControlName="EmployeeSalary"
                  [ngClass]="{ 'is-invalid': submitted && regForm.controls.EmployeeSalary.errors }">
                <label for="Salary">Salary</label>
              </span>
              <div *ngIf="submitted && regForm.controls.EmployeeSalary.errors" class="text-danger">
                <div *ngIf="regForm.controls.EmployeeSalary.errors['required']">Salary is required</div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-5 form-group">
              <label for="Department">Department</label>
              <div class="dropdown">
                
                   
                  <select formControlName="Departmentid" name="Department" class="form-select"
                  [ngClass]="{ 'is-invalid': submitted && regForm.controls.Departmentid.errors }">
                    
                    <option *ngFor="let department of departments" [ngValue]="department.id">
                      {{department.departmentName}}
                    </option>
                  </select>
                  <div *ngIf="submitted && regForm.controls.Departmentid.errors" class="text-danger">
                    <div *ngIf="regForm.controls.Departmentid.errors['required']">Department Name is required</div>
                  </div>
                
              </div>
            </div>
         
            <!-- <div class="col-lg-6 col-sm-12 mt-5 form-group">


              <span class="p-float-label">
                <p-dropdown [autoDisplayFirst]="false" formControlName="Departmentid" inputId="dropdown"
                  optionLabel="name" optionGroupLabel="name"
                  [ngClass]="{ 'is-invalid': submitted && regForm.controls.Departmentid.errors }">

                  <option *ngFor="let department of departments" [ngValue]="department.id">
                    {{department.departmentName}}
                  </option>
                </p-dropdown>
                <label for="dropdown">Department</label>

                <div *ngIf="submitted && regForm.controls.Departmentid.errors" class="text-danger">
                  <div *ngIf="regForm.controls.Departmentid.errors['required']">Department Name is required</div>
                </div>
              </span>




            </div> -->


           
          </div>
        </div>
        <br>
        <br>
        <br>

        <button id="Save" type="submit" class=" col-lg-2 col-sm-6 mt-3 mx-2 btn btn-primary">Save</button>
        <button id="cancel" type="cancel" class=" col-lg-2 col-sm-6 mt-3 mx-2 btn btn-primary"
          routerLink="../">Cancel</button>
      </form>
    </div>
  </div>

</div>